manifest {
    homePage = 'https://github.com/iarcbioinfo/BQSR-nf'
    description = 'Perform Base Quality Score Recalibration of BAM files'
    mainScript = 'BQSR.nf'
}

profiles {
  conda { 
		process { 
			conda = "$baseDir/environment.yml" 
		}
		conda.createTimeout = "200 min"
	}
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/bqsr-nf'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'iarcbioinfo/bqsr-nf'
  }
}

process {
    process.container = 'iarcbioinfo/bqsr-nf:dev'
    shell =  ['/bin/bash','-o','pipefail']
}

params.output_folder="."


timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/bqsr-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/bqsr-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/bqsr-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/bqsr-nf_dag.html"
}
